
codes/.ipynb_checkpoints/BAI_Function-checkpoint.ipynb
codes/.ipynb_checkpoints/BAI_Raster_Stats-checkpoint.ipynb
codes/.ipynb_checkpoints/Merge_Function-checkpoint.ipynb
codes/.ipynb_checkpoints/Mike Workflow-checkpoint.ipynb
codes/.ipynb_checkpoints/Reproject_Raster-checkpoint.ipynb
codes/.ipynb_checkpoints/search_and_download_quickstart-checkpoint.ipynb
Imagery/20181005_bai.tif
Imagery/20181005_bai_reproj.tif
Imagery/20181005_merge.tif
Imagery/20181016_bai.tif
Imagery/20181016_bai_reproj.tif
Imagery/20181016_merge.tif
Imagery/20181116_bai.tif
Imagery/20181116_bai_reproj.tif
Imagery/20181116_merge.tif
Imagery/all_merge.tif
Imagery/blank_rast.tif
Imagery/vect_shape.cpg
Imagery/vect_shape.dbf
Imagery/vect_shape.prj
Imagery/vect_shape.shp
Imagery/vect_shape.shx
